body {
  margin: 0;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

  background: pink;


  min-height: 100vh;
}



button {
  font-size: 14px;
}

input {
  border: 1px solid #ccc;
  border-radius: 6px;
}

input:focus {
  outline: none;
  border-color: #1976d2;
}
